*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: greenyellow;
    min-height: 100vh;
}
h1{
    color: #333;
    font-size: 32px;
}
h2{
    color: greenyellow;
    font-size: 24px;
    margin-bottom: 8px;
}
div.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50vw;
}
div.circle-show{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
div#circle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    width: 320px;
    height:320px;
    background:conic-gradient(greenyellow 0deg ,rgb(227, 223, 223) 0deg);
}
div#percentage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: greenyellow;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    background-color: white;
}
div.num-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 35vw;
    height: 36px;
    text-align: center;
    font-size: 18px;
    border: 1px solid greenyellow;
    outline: none;
}
input[type="number"]{
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
}
input[type="submit"]{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
    background-color: greenyellow;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background-color 1s ease-in-out;
}
input[type="submit"]:hover{
    background-color: green;
}

/*responsive making codes:*/
@media (max-width:1075px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 21px;
    }
    div.wrapper{
        padding: 18px;
        margin: 18px;
        border-radius: 10px;
        width: 50vw;
    }
    div#circle{
        width: 300px;
        height:300px;
    }
    div#percentage{
        font-size: 35px;
        width: 265px;
        height: 265px;
    }
    input{
        width: 35vw;
        height: 36px;
        font-size: 16px;
    }
}
@media (max-width:899px) {
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    div.wrapper{
        padding: 16px;
        margin: 16px;
        border-radius: 10px;
        width: 50vw;
    }
    div#circle{
        width: 280px;
        height:280px;
    }
    div#percentage{
        font-size: 30px;
        width: 250px;
        height: 250px;
    }
    input{
        width: 40vw;
        height: 36px;
        font-size: 15px;
    }
}
@media (max-width:789px) {
    h1{
        font-size: 21px;
    }
    h2{
        font-size: 16px;
    }
    div.wrapper{
        padding: 15px;
        margin: 15px;
        border-radius: 10px;
        width: 70vw;
    }
    div#circle{
        width: 250px;
        height:250px;
    }
    div#percentage{
        font-size: 25px;
        width: 225px;
        height: 225px;
    }
    input{
        width: 45vw;
        height: 36px;
        font-size: 14px;
    }
}
@media (max-width:589px) {
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    div.wrapper{
        padding: 12px;
        margin: 12px;
        border-radius: 10px;
        width: 70vw;
    }
    div#circle{
        width: 180px;
        height:180px;
    }
    div#percentage{
        font-size: 21px;
        width: 160px;
        height: 160px;
    }
    input{
        width: 50vw;
        height: 36px;
        font-size: 14px;
    }
}
@media (max-width:489px) {
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    div.wrapper{
        padding: 12px;
        margin: 12px;
        border-radius: 10px;
        width: 90vw;
    }
    div#circle{
        width: 180px;
        height:180px;
    }
    div#percentage{
        font-size: 21px;
        width: 160px;
        height: 160px;
    }
    input{
        width: 70vw;
        height: 36px;
        font-size: 14px;
    }
}
@media (max-width:339px) {
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    div.wrapper{
        padding: 12px;
        margin: 12px;
        border-radius: 10px;
        width: 90vw;
    }
    div#circle{
        width: 150px;
        height:150px;
    }
    div#percentage{
        font-size: 21px;
        width: 132px;
        height: 132px;
    }
    input{
        width: 70vw;
        height: 36px;
        font-size: 14px;
    }
}
@media (max-width:239px) {
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
    }
    div.wrapper{
        padding: 12px;
        margin: 12px;
        border-radius: 10px;
        width: 95vw;
    }
    div#circle{
        width: 110px;
        height:110px;
    }
    div#percentage{
        font-size: 17px;
        width: 95px;
        height: 95px;
    }
    input{
        width: 85vw;
        height: 36px;
        font-size: 14px;
    }
}
